@model MvcSitem.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "urungetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Guncelle","Urun", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.URUN_ID)
    @Html.TextBoxFor(m => m.URUN_ID, new { @class = "form-control", Readonly = "true" })
    <br />
    @Html.LabelFor(m => m.URUN_AD)
    @Html.TextBoxFor(m => m.URUN_AD, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(m => m.URUN_KATEGORİ)
    @Html.DropDownListFor(m => m.TBLKATEGORİLER.KATEGORI_ID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.FIYAT)
    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(m => m.STOK)
    @Html.TextBoxFor(m => m.STOK, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(m => m.MARKA)
    @Html.TextBoxFor(m => m.MARKA, new { @class = "form-control", @required = "required" })
    <br />
</div>
    <div>
        <button class="btn btn-warning" style="float:right">
           Ürün Güncelle
        </button>

    </div>




}


